.screen_container{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 30px auto;
    background: #000;
    overflow: hidden;
}
.screen_toolbar{
    width: 600px;
    margin: 20px auto;
    text-align: center;
}
.myen{
	position: fixed;
	bottom:0;
	width: 100%;
	float: right;
	z-index: 9999;
	background-color:#3498db;
	text-align:center;
}
.tel{position:fixed;bottom:50%;right:0;z-index:999;width:15%;}
.tel img{width:50px;}